.newTask {
  /* width: 100%; */
  position: absolute;
  top: 180px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  left: calc(50% - 736px / 2);
}

.input {
  background: var(--gray-400);
  color: var(--gray-300);
  line-height: 1.4;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--gray-700);
  width: 638px;
}

.newTask button {
  padding: 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 0.5rem;
  border: 0;
  font-weight: bold;
  align-items: center;
  display: flex;
  gap: 5px;
  line-height: 0;
  cursor: pointer;
}

.newTask button:hover {
  background: var(--blue);
}
